<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars App</title>
  </head>
  <body>
<h1>New Car</h1>
<form action="/cars" method="POST">
  <input type="text" name="make" placeholder="Make" required />
  <input type="text" name="model" placeholder="Model" required />
  <input type="number" name="year" placeholder="Year" />
  <input type="text" name="image" placeholder="Image URL" />
  <button type="submit">Add Car</button>
</form>
<a href="/cars">Back</a>
  </body>
</html>